# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# .NET
*.dll
*.exe
*.pdb

# Cache / temp
*.cache
*.log
*.tmp

# OS files
Thumbs.db
.DS_Store

# Large installers
dotnet-sdk-10.0.101-win-x64.exe
