@{
    ViewData["Title"] = "Continue";
}

<h2>Welcome Student</h2>

<p>Select an option</p>

<form asp-controller="Student" asp-action="IdCard">
    <button type="submit">View ID Card</button>
</form>

<a href="/Student/Marks">
    <button>View Marks</button>
</a>