USE [sqlprograms]
GO
/****** Object:  StoredProcedure [dbo].[usp_getstudentname]    Script Date: 28-01-2026 10:12:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[usp_getstudentname]
as
begin 
select * from [dbo].[College] where name like 'a%'
end
exec [dbo].[usp_getstudentname]