@model OnetoMany.Models.Department

<h2>Create Department</h2>

<form method="post">
    <label>Department Name</label>
    <input asp-for="DepartmentName" />

    <button type="submit">Save</button>
</form>