@model IEnumerable<MVC_CRUDLPU.Models.Student>

<h2>Student List</h2>

<a asp-action="Create">Create New</a>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>